# Ignore all log files
*.log

# Ignore entire folders
/Preprocessing/__pycache__/
/Preprocessing/data/
/Segmentation/__pycache__/
/Segmentation/myenv/
/Segmentation/Segmentation_output/
/Segmentation/Unet/__pycache__/
/Segmentation/UnetNested/__pycache__/
/LIDC-IDRI Dataset/
/Segmentation/joboutput_*.out
/Segmentation/joboutput_*.err
/Segmentation/train*.sbatch
/Segmentation/configuration.txt
/Segmentation/model_outputs
/Segmentation/figures